<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href={~p"/assets/css/student_report.css"} />
  </head>
  <body class="bg-white">
    <div class="w-[210mm] h-[297mm] p-[20mm]">
      <h1 class="text-3xl font-bold">Student Report</h1>
      <p>Name: {@student.name}</p>
    </div>
  </body>
</html>
